<h1>TOP 3 ФИЛЬМОВ ПО КОЛИЧЕСТВУ СЕАНСОВ</h1>
<table>
<tr><td><strong>Название</strong></td><td><strong>Сеансы</td></strong></tr>
<% @movies.each do |movie| %>
 <tr><td><%= movie.name %></td><td><%= movie.sessions %></td></tr>
<% end %>
</table>